.Vente .categorie {
  padding: 30px;
  height: 90vh;
  margin-top: 50px;
  margin-left: 50px;
}
.chead h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.Vente .categorie .box {
  background-color: #f6f9fc;
  margin: 15px 0;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 5px;
}
.Vente .categorie img {
  width: auto;
  height: auto;
}
.Vente .categorie .box:hover {
  background-color: white;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.Vente .box2 {
  margin-top: 100px !important;
  text-align: center;
}
.Vente .categorie button {
  padding: 10px;
  background: none;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.Vente .contentWidth {
  margin-left: 30px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.Vente .produit img {
  width: 100%;
  height: 100%;
}
.Vente .produit {
  transition: 0.5s;
}
.Vente .produit:hover {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.prix .btn-orange{
  background-color: rgb(255, 213, 0);
  width: 120px;
  height: 40px;
  font-size: 13px;
  margin-top: -48px;
  
  
  }
  .img{
    overflow: hidden;

  }
  .remise{
    padding: 8px 8px;
    z-index: 999;
  }
  
  .image-fluid:hover{
    transform: scale(1.1);
  }
  .banner-img{
    overflow: hidden;
    height: 350px;
   
  }  
